/* header styles */
      /* an element selector  */
    
 header {
     /* properties i.e ; */
      /* 1. background-color
       2. color : font-color */
    background-color: black;  /* values -hex*/

    color: #fff;
    color: rgb(255,255,255)  /* values-rgba */;

       /* box model  */
       /* every html elements lives in a box model 
         the box has structure */
          /* content, padding ,border ,margin */
       /* css units of measure
       1.absolute (fixed -px , cm)
       2.relative  units (%) OF THE PARENT*/

    padding-top:10px ;
    padding-bottom:10px ;
    padding-right:10px ;
    padding-left:10px ;


    padding: 10px; /*shorthand of lines 20-23*/
        /* FLEX BOX MODEL */
    display:flex ;
    align-items: center;
    justify-content: space-between;


         /* FIX HEADER TO PREVENT SCROLLING */
         position: fixed;
         top: 0;
          right: 0;
          left: 0;
          z-index: 0; /*To Do What is this*/
          transition: top 0.3s; /*What does this do*/


 }

          /* TODO What selector is this? */
.logo img {
   max-width: 100px;
   border-radius: 10px;
}
                /* Class Selector */
  .menu{
 display: flex;
 align-items: center;
  }
  .menu a{
   color: rgb(205, 174, 235);
   text-decoration:none;
   /* margin-left: 150px; */

      /* setting padding  */
       padding: 10px;

            /* setting display to flex */
            display: flex;
            align-items: center;
  }
       /* PSEUDO SELECTORS E.G HOVER  */
      .menu a:hover {
         background-color:orangered;
         cursor: pointer;
      }

          
 


